nav{
	margin-bottom:2rem;
	width: auto;
}


.navbar {
	color:rgb(248,255,255);
	Background:rgb(36, 41, 46);	
	width: 100%;


	.container{
	display: flex;
	overflow: hidden;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 100%;
	flex-direction: row;
	padding-right:2rem;
	position: sticky;
	top:0;
	padding: 1rem;
	

	}
	
}


.nav-group1{
 display:flex;
 font-weight: 600;
 font-size: 14px !important;
 line-height: 1.5;
 

 i{
	font-size: 2rem;
	margin-right: 20px;
	@media screen and (max-width: 786px) {
	 transform:translateX(40vw);
		
		
	
	}
	
}
 .search-div{
   input{
	   width:18vw;
	   height: 1.8rem;
	   margin-bottom:0;
	   padding:0.5rem;
	   border-radius: 8px;
	   border:solid 0.2px rgba(255, 255, 255, 0.3);
	   background-color: rgb(36,41,46);
	   color: #f3f3f3;
	   @media screen and (max-width: 786px) {
		display:none;
		
	
	}
   }
 }
	.links{
		margin: 0;
		@media screen and (max-width: 786px) {
			display:none;
			
		
		}
		.nav-links{
			display:flex;
			flex-direction: row;
			margin-right:20px;
		
			li{
				margin-left:1rem;
			}
		}
	}
	
}



.nav-group2{
	display:flex;

	i.fa-bell{
		@media screen and (max-width: 786px) {
			display:block;
			transform: translateX(-2rem);
	
		
		}
	}

	i, img{
  margin-left:4px;
  @media screen and (max-width: 786px) {
	display:none;


}
	}
}

.nav-img{
	margin:left 5px;
	border-radius:50%;
	height: 20px;
	width:  20px;
}
	


.sticky{
	top:0 !important;
	position: sticky !important;
	background:white;
	padding:1rem;
}

.tabs{
	display: flex;
	z-index: 1;
	width:100vw !important;
	border-bottom: solid 1px #eaecef;
	margin-top:.5rem;
	padding-left: 25%;

	@media screen and (max-width: 965px) {
		padding-left: 3%;
	
	}
	@media screen and (max-width: 786px) {
		overflow-x: scroll;
		max-width: 100%;
		padding-left: 1%;
		padding-right: 1%;
		
	
	}
	
	li{
		padding: 1rem 1rem;
		font-size: 0.875rem;
		border:0;
		border-bottom:2px solid transparent;
		color:rgb(36,41,46);
		flex-shrink: 0;
		display: block;
	}
}


hr{
	border: 0;
	height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.profile{
	
	position: absolute;
	margin-left: 3rem;
	flex-shrink: 0;
	
	@media screen and (max-width: 965px) {
		position: relative;
	
	};

	.profile-name > {

		p{
			@media screen and (max-width: 786px) {
				display:none;
		
			
			}
		}
		
	}
	@media screen and (max-width: 786px) {
		display:flex;
		position: relative;
		align-items: center;
		margin-left: 0.5rem;
		
	
	}
}
.profile-img{
	position: relative;
	width:260px;
	height:auto;
	line-height: 1;
	display: inline-block;
	overflow: hidden;
	transition: 1s;
	z-index: 2;
	border-radius: 50%;
	@media screen and (max-width: 786px) {
		//width: 150px;
		//height: 150px;
		position: static;
		margin-right:1rem;
		height: auto;
		width: 160px;
	}
}

.profile-name{
position: relative;
}



.main{

	display:flex;
	position: relative;
	@media screen and (max-width: 786px) {
	display:block;
	position: static;

}
}

.repo{
	width:65%;
	margin-left:30% ;
	margin-top:1rem;
	margin-right: 20%;
	

	@media screen and (max-width: 965px) {
		position: relative;
		margin-left: 3%;
	
	}
	
	@media screen and (max-width: 786px) {
		width: 90vw;
		margin-left: 5%;
		paddings-right: 5%;
		overflow: hidden;
	
	}
	.repo-name{
		color:rgb(18,110,216);
	}
}

.line-2{
	font-size: 12px;
	color:#586069;
}
.repo-search{
	width: 100%;
	height: 1.9rem;
	color:grey;
	border-radius: 7px;
	border:solid 1px #d8d8d6;
	padding: 0.8rem;
}

.lang-color{
	display: inline-block;
	width:10px;
	height: 10px;
	border-radius: 50%;
}


.sub-repo{
	display:flex;
	justify-content: space-between;

	div{

		span{
			span{
				margin-right: 1rem;
			}
		}
	}
}

button{
	width:4.2rem;
	height: 1.7rem;
	background: white;
	border: 0.5px solid #d8d8d6;
	border-radius: 7px;
	&:hover{
		background: #f3f3f3;
	}
	transition: all 0.3s;
}


.underline{
border-bottom-color: salmon !important;
font-weight: 600;
//outline:1px dotted transparent;
margin: 0 !important;
}